
    <header>
        <div class="nav-logo">
            <a href="/"><img src="/images/school.png" class="logo " alt="Logo"></a>
            <a href="/faq" class="support-btn">Support</a>
        </div>
        <div class="Navbar__Link Navbar__Link-toggle">
            <img src="images/bars-solid.svg" width="25%" alt="">
        </div>
        <nav class="nav">
            <ul class="nav__links">
                <li><a href="/about">About</a></li>
                <li><a href="/lecturer" class="sign-up">Lecturers</a></li>
                <li><a href="/student">Students</a></li>
                <li><a href="/contact_us" class="sign-up">Contact</a></li>
            </ul>
        </nav>
    </header>
<section style="background:#05203b; height:100vh; padding:20%; ">
  <h1 style="color:white; text-align:center;">{{message}}</h1>
  <br>
  <!-- <h1 style="color:white; text-align:center;"> Mad Oh !!!... How you take reach here again ?</h1> -->
  <h2 style="color:white; text-align:center;">Sorry, the page you are looking for does not exist</h2>

</section>
