<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="imagess/mathisi logo new.png" type="image/x-icon">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <div class="toggle">
                <input type="checkbox" id="toggle" />
                <label for="toggle"></label>
     </div>
    {{{body}}}


 <div class="container-fluid">
        <div class="footer">

            <div class="social-icons">
                <a href="/" class="footer-icons"><i class="fab fa-twitter" style="width: 20px; height: 17px;"></i></a>
                <a href="/" class="footer-icons"><i class="fab fa-google-plus-g"></i></a>
                <a href="/" class="footer-icons"><i class="fab fa-instagram" style="width: 20px; height: 17px;"></i></a>
                <a href="/" class="footer-icons"><i class="fab fa-facebook" style="width: 20px; height: 17px;"></i></a>
               </div>
            <div class="footer-information">
                <ul class="nav-link">
                    <li><a href="/index" class="footer-text">Home</a></li>
                    <li><a href="/contact_us" class="footer-text">Contact Us</a></li>
                    <li><a href="/faq" class="footer-text">FAQ</a></li>
                    <li><a href="/review" class="footer-text">Reviews</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src='/javascripts/app.js'></script>
  </body>
</html>
